body {
    font-family: "Comfortaa", sans-serif !important;
}

/* div {
    margin: 40px;
    display: flex;
    justify-content: center;
} */

.header {
    padding: 50px;
    height: 150px;
    font-size: 2.5rem !important;
}
/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
} */