<html>
    <head>
        <title> PixTag</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='styles/home.css') }}" rel="stylesheet">
        <script type="importmap">
            {
            "imports": {
                "@material/web/": "https://esm.run/@material/web/"
            }
            }
        </script>
        <script type="module">
            import '@material/web/all.js';
            import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';
            document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
        </script>
    </head>
    <body>

        <div class="header" style="display: flex; align-items: center; justify-content: space-between;">
            <a href="/pixtag" style="text-decoration: none; color: inherit;">
                <h1>PixTag</h1>
            </a>
            <form action="{{ url_for('sign_out') }}" method="post" style="margin: 0;">
                <button type="submit" class="btn btn-warning">Sign Out</button>
            </form>
        </div>
        

        <md-divider></md-divider>

        <div class="container">
            <div class="row">
                <div class="col-6">

                    <div id="upload-image">
                        <h2>Upload Image</h2>
                        <p id="subheading">Upload your image.</p>
                        <p id="description">Upload an image in <code>jpg</code> format. Thumbnail and tags will be 
                        generated and stored in <code>S3</code> and DynamoDB services.</p>
                        
                        <form action = "{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data">
                            <input type="file" name="image" required/>
                            <br><br>
                            <md-filled-button type="submit">Upload</md-filled-button>
                        </form>
                    </div>

                    <div id="search-by-tags">
                        <h2>Search By Tags</h2>
                        <p id="subheading">Search for images by tags.</p>
                        <p id="description">All individual tags must be separated by a semicolon.</p>
                        <p id="description">In order to look for images with tags repeated a minimum number of times 
                            pass your input as given below where images with minimum of 2 persons
                            3 apples and 1 car will be retrieved.
                        </p>
                        <p id="description">Example - <code>person, 2;car;apple, 3</code> or
                            <code>person;car;bus</code></p>
            
                        <form action = "{{ url_for('search_by_tags') }}" method="post">
                            <md-outlined-text-field name="tags" label="Tags" required></md-outlined-text-field>
                            <br><br>
                            <md-filled-button type="submit">Search</md-filled-button>
                        </form>
                    </div>

                    <div id="search-by-thumbnail">
                        <h2>Search By Thumbnail</h2>
                        <p id="subheading">Retrieve full size image using thumbnail url.</p>
                        <p id="description">Provide a S3 thumbnail url of the below format.</p>
                        <p id="description">Example -<code> https://(bucket-name).s3.amazonaws.com/(prefix).jpg</code></p>
            
                        <form action = "{{ url_for('search_by_thumbnail') }}" method="post">
                            <md-outlined-text-field name="thumbnail_url" label="Thumbnail URLs" required></md-outlined-text-field>
                            <br><br>
                            <md-filled-button type="submit">Search</md-filled-button>
                        </form>
                    </div>

                    <div id="search-by-image">
                        <h2>Search By Image</h2>
                        <p id="subheading">Get all thumbnail with similar tags as the uploaded image.</p>
                        <p id="description">Please upload an image in <code>jpg</code> format.</p>
                        <form action = "{{ url_for('search_by_image') }}" method="post" enctype="multipart/form-data">
                            <input type="file" name="image" required/>
                                <br><br>
                            <md-filled-button type="submit">Search</md-filled-button>
                        </form>
                    </div>
                    <div id="add-delete-tags">
                        <h2>Add / Delete Tags</h2>
                        <p id="subheading">Add or delete tags for images.</p>
                        <p id="description">Provide tags and urls to be added or deleted from the different uploaded images.</p>
                        <p id="description">Example - <code>person;car;apple</code> 
                        <p id="description">Example -<code> https://(bucket-name).s3.amazonaws.com/(prefix).jpg; https://(bucket-name).s3.amazonaws.com/(prefix_1).jpg</code></p>
                        <form action = "{{ url_for('add_delete_tags') }}" method="post">
                            <div class="text-field-container">
                                <md-outlined-text-field name="tags" label="Tags" required></md-outlined-text-field>
                            </div>
                            <div class="text-field-container">
                                <md-outlined-text-field name="urls" label="Urls" required></md-outlined-text-field>
                            </div>
                            <div class="toggle-container text-field-container">
                                <span class="toggle-label">Delete Tag</span>
                                <label class="md-switch">
                                  <input type="checkbox" id="type-of-operation"name="type-of-operation" value="1" required>
                                  <span class="md-slider round"></span>
                                </label>
                                <span class="toggle-label">Add Tag</span>
                                <input type="hidden" name="type-of-operation" value="0">
                            </div>       
                            <div class="text-field-container">           
                                <md-filled-button type="submit">Submit</md-filled-button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>
                    <br><br><br>
                    <br>
                    <br>
                    <br>
                    <div id="delete-images">
                        <h2>Delete Images</h2>
                        <p id="subheading">Deletes one or more images.</p>
                        <p id="description">Please note that all entries from <code>DynamoDB</code> and <code>S3</code>
                        will be deleted for the provided urls.</p>
                        <p id="description">Example -<code> https://(bucket-name).s3.amazonaws.com/(prefix).jpg; https://(bucket-name).s3.amazonaws.com/(prefix_1).jpg</code></p>
                        <form action = "{{ url_for('delete_images') }}" method="post">
                            <md-outlined-text-field name="urls" label="Image URLs" required></md-outlined-text-field>
                            <br><br>
                            <md-filled-button type="submit">Delete</md-filled-button>
                        </form>
                    </div>
                    <div id="subsribe-to-tags">
                        <h2>Subscribe to be Notified</h2>
                        <p id="subheading">Subscribe to tags to be notified later</p>
                        <p id="description">Please note that if you subscribe to a tag, you will receive an email notification from us through <code>SNS</code> 
                            whenever another user uploads an image that includes your subscribed tag.</p>
                        <p id="description">Example - <code>person;car;apple</code> 
                        <form action = "{{ url_for('add_user_tag_subscription') }}" method="post">
                            <md-outlined-text-field name="tags" label="Tags" required></md-outlined-text-field>
                            <br><br>
                            <md-filled-button type="submit">Subscribe</md-filled-button>
                        </form>
                    </div>    
                </div>

                <div id="output-section" class="col-6">
                    <h2>Output</h2>
                    <p id="subheading">Here's where you can look for your output.</p>
                    
                    {% if upload_image %}
                        <p id="description">Below is the image uploaded.</p>
                        <img src="data:{{mimetype}};base64, {{u_image}}" alt="S3 Image" id="image_full">
                    {% endif %}
                    
                    {% if search_by_tag %}
                        <p id="description">Below are the images available for tags: <code>{{ tags }}</code></p>
                        {% for image in images %}
                            <img src="data:{{mimetype}};base64, {{image}}" alt="S3 Image">
                        {% endfor %}
                        <p id="description" style="margin-top: 20px;" >Thumbnail URLS: <code>{{ thumbnail_urls }}</code></p>
                    {% endif %}

                    {% if search_by_thumbnail %}
                        <p id="description">Below is the full size image for given thumbnail URL.</p>
                        <p id="description">Image URL: <code>{{ image_url }}</code></p>
                        <p id="description">Thumbnail URL: <code>{{ thumbnail_url }}</code></p>
                        <img src="data:{{mimetype}};base64, {{full_image}}" alt="S3 Image" id="image_full">
                    {% endif %}

                    {% if search_by_image %}
                        <p id="description">Below are the thumbails similar to the one uploaded. 
                            The unique tags present in the uploaded image are <code>{{ tags }}</code></p>
                        <p id="description">Uploaded image:</code></p>
                        <img src="data:{{mimetype}};base64, {{uploaded_image}}" alt="S3 Image" id="image_full">
                        <br><br>
                        <p id="description">Similar thumbnails with tags: <code>{{ tags }}</code></p>
                        {% for timage in thumbnails %}
                            <img src="data:{{mimetype}};base64, {{timage}}" alt="S3 Image">
                        {% endfor %}
                        <p id="description" style="margin-top: 20px;" >Thumbnail URLS: <code>{{ thumbnail_urls }}</code></p>
                    {% endif %}

                    {% if add_delete_tags %}
                        <p id="description">Below is the message received after completing the operation</p>
                        <p id="description">Message : <code>{{ message }}</code></p>
                        <p id="description">Updated Tags:<code> {{ tags }} </code></p>
                        <p id="description">Updated Thumbnail Urls:<code> {{ thumbnail_url }} </code></p>
                    {% endif %}
                    {% if delete_image %}
                        <p id="description">Below is the message received after completing the operation</p>
                        <p id="description">Message : <code>{{ message }}</code></p>
                    {% endif %}
                    {% if subscribe_tags %}
                        <p id="description">Below is the message received after completing the operation</p>
                        <p id="description">Message : <code>{{ message }}</code></p>
                        <p id="description">Subscribed Tags:<code> {{ tags }} </code></p>
                    {% endif %}
                    {% if error %}
                        <p id="description">{{ error_message }}</p>
                    {% endif %}
                </div>

            </div>
        </div>

      </body>
</html>